name: Laravel

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main, develop ]

jobs:
  laravel-tests:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        php: [ 8.1, 8.2 ]

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup composer
        uses: shivammathur/setup-php@v2
        with:
          tools: composer:v2
          php-version: ${{ matrix.php }}

      - name: Install Dependencies
        run: composer install --no-ansi --no-interaction --no-scripts --no-progress --prefer-dist

      - name: Execute tests (Unit and Feature tests)
        run: vendor/bin/phpunit
